<div>
  <%= link_to("Sign Out", session_path, { :method => :delete, :id => 'signout' }) %> |
  <%= link_to("Friends", facebook_friends_path) %> |
  <%= link_to("Albums", facebook_albums_path) %>
</div>

<div>
  <ul>
    <% @photos.each do |photo| %>
      <li><img src="<%= photo.source %>" /> <%= photo.name %></li>
    <% end %>
  </ul>
</div>
